__pycache__
.vscode
ppi_accel_error_fric.npy
ppi_accel_error_inertia_fric.npy
ppi_accel_error_inertia.npy
ppi_accel_error.npy
ppi_pos_error_fric.npy
ppi_pos_error_inertia_fric.npy
ppi_pos_error_inertia.npy
ppi_pos_error.npy
ppi_vel_error_fric.npy
ppi_vel_error_inertia_fric.npy
ppi_vel_error_inertia.npy
ppi_vel_error.npy
smc_accel_error_fric.npy
smc_accel_error_inertia_fric.npy
smc_accel_error_inertia.npy
smc_accel_error.npy
smc_pos_error_fric.npy
smc_pos_error_inertia_fric.npy
smc_pos_error_inertia.npy
smc_pos_error.npy
smc_vel_error_fric.npy
smc_vel_error_inertia_fric.npy
smc_vel_error_inertia.npy
smc_vel_error.npy
time_vec.npy
